@page
@model IdentityServerHost.Pages.Admin.ApiScopes.NewModel
@{
}

<div class="clients-page">
    <h2>
        New API Scope
    </h2>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div class="form-group">
                    <label asp-for="@Model.InputModel.Name"></label>
                    <input class="form-control" asp-for="@Model.InputModel.Name" autofocus />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.InputModel.DisplayName"></label>
                    <input class="form-control" asp-for="@Model.InputModel.DisplayName" />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.InputModel.UserClaims">User Claims (space delimited)</label>
                    <input class="form-control" asp-for="@Model.InputModel.UserClaims" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                    <a class="btn btn-secondary" asp-page="/Admin/ApiScopes/Index">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
